/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(1, 1, 1);
 
}


/* appearance of all tags, headers and paragraphs: */
h1, h2, h3, h4, h5, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Title */
h1{
    font-size: 50px;
}

/* 'Week' headers */
h2, h4{
    font-size: 30px;
}

/* sub-headers */
h2, h4{
    font-size: 30px;
}
    
.myWeek1{
    margin: auto;
    max-width: 1000px;
    background-color: rgb(173, 192, 218);
    border-radius: 10px;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(173, 192, 218);
    width:360px;
    border-width: 5px;
    border-style: solid;
    border-radius: 9px;
    border-color: rgb(244, 239, 239);
    width: 100%;
    text-align: center;
   
   

    
}
    